<%= form_for @token do |f| %>
  <% if @token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% @token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>
  <br>
  <div>
    <%= f.label :client_id %>
    <%= f.text_field :client_id %>
  </div>
  <br>
  <div>
    <%= f.label :token_type %>
    <%= f.select :token_type, options_for_select([["Premium", "premium"], ["Standard", "standard"], ["Free", "free"]]), "data-placeholder"=> "Select Token Type" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
