<p id="notice"><%= notice %></p>
<p>id: <%= @token.id %></p>
<p>client_id: <%= @token.client_id %></p>
<p>message: <%= @token.message %></p>
<p>token_type: <%= @token.token_type %></p>
<%= link_to 'Back', tokens_path %>
